<br>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Cédula de Identidad</mat-label>
    <input matInput placeholder="Placeholder" type="text" required>
    <mat-hint>Ingrese solo valores numéricos</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Nombres</mat-label>
    <input matInput placeholder="Placeholder" required>
    <mat-hint>Puede ingresar mas de un nombre</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Primer Apellido</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-hint>Solo ingrese su primer apellido</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Segundo Apellido</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-hint>Solo ingrese su segundo apellido</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Apellido de Casada</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-hint>Solo ingrese este dato si corresponde</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Correo eléctronico</mat-label>
    <input matInput placeholder="Placeholder" required>
    <mat-hint>Ingrese un correo válido</mat-hint>
  </mat-form-field>
</p>
<a href="#" mat-raised-button color="primary">Aqui</a>
<br><br>