<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>INGRESO AL SISTEMA</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Usuario</mat-label>
        <input matInput type="text" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Clave</mat-label>
        <input matInput required>
      </mat-form-field>
    </p>
    <p>
      <a href="#">Restablecer mi contraseña</a>
    </p>
    <button mat-flat-button color="primary">Ingresar</button>
  </mat-card-content>
</mat-card>