// mat-sidenav {
//     width: 200px;
// }

.algo {
   min-height: 80%;
   // padding: 30px;
}

.contenido {
   // background-color: aqua;
   min-height: 80%;
   margin: 10px;
}

.example-fill-remaining-space {
   /* This fills the remaining space, by using flexbox. 
      Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
}

// .footer {
//    background-color: azure;
// }


md-card {
   padding: 20px;
 }
 
 footer {
   background-color: #ccc;
 }


.spacer {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
}