// mat-sidenav {
//     width: 200px;
// }

.algo {
   min-height: 80%;
}

.example-fill-remaining-space {
   /* This fills the remaining space, by using flexbox. 
      Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
}

.footer {
   background-color: azure;
}